/* Esercizio 10 */
.ex-1-square:hover {
    transition: 3s;
    background: red;
}

.ex-2-square:active {
    transition: 3s;
    width: 100%;
}

.ex-3-square:hover {
    transition: 3s;
    border-radius: 50%;
}

.ex-4-square:hover {
    transition: 3s;
    opacity: 0;
}

/* Quadrato grande e poi piccolo */

.ex-5-square:hover {
    transition: 3s;
    transform: scale(2);
}

.ex-5-square:active {
    transition: 3s;
    transform: scale(.5);
}

/* fine */

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    transition: 3s;
    filter:grayscale(.5) sepia(.5);
}

.ex-8-img:hover {
    transition: 3s;
    border-radius: 20px;
    filter:grayscale(.5) sepia(.5);
}

.ex-9-img:hover {
    transition: 3s;
    filter:grayscale(.5) sepia(.5);
    border-radius: 20px;
    transform: scale(1.5);
}

/* Animazione cerchio 1 antiorario */

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

/* fine */

/* Animazione cerchio 2 orario */

.ex-11-icon:hover {
    animation: spin2 3s linear;
}

@keyframes spin2 {
    75% {
        transform: rotate(315deg);
    }
}

/* Altro */

.ex-12-button:hover .ex-12-top-white {
    animation: moveTopWhite 2s linear;
}

@keyframes moveTopWhite {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottomWhite 2s linear;
}

@keyframes moveBottomWhite {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s linear;
}

@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 2s linear;
}

@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
